body {
    font-family: 'Helvetica', sans-serif;
}

header {
    background-color: #007eff;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Bebas', sans-serif;
}

#navbar {
    overflow: hidden;
    background-color: #007eff;
    border-bottom: 15px solid #333;
}

#container {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}

.image-container img {
    width: 100%;
    max-width: 300px;
}

.paragraph-container {
    max-width: 60%; /* Adjust the width of the paragraph container */
}

footer {
    background-color: #007eff;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
